body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: url('sakura.gif') no-repeat center center fixed;
    background-size: cover;
    color: #b98c8c;
    text-align: center;
    overflow-x: hidden;
    background-color: rgba(207, 114, 114, 0.1);
}
.container {
    padding: 20px;
}

/* 头像，头像下方文字和倒计时排版 */
.header {
    position: relative;
    padding: 20px 0;
}
.header img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid  rgba(207, 114, 114, 0.5);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
.header .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.header .title {
    margin-top: 10px;
    font-size: 1.5em;
    color: #FF69B4;
}
.countdown {
    margin: 30px 0;
    font-size: 1.2em;
    color: #FF1493;
}


/* 心跳动画 */
.heart {
    font-size: 2em;
    color: #FF1493;
    animation: heartbeat 1s infinite;
}

@keyframes heartbeat {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
}

/* 波浪动画 */
.waves[data-v-34463044] {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 150px
}

.parallax>use[data-v-34463044] {
    animation: move-forever-34463044 25s cubic-bezier(.55,.5,.45,.5) infinite
}

.parallax>use[data-v-34463044]:first-child {
    animation-delay: -2s;
    animation-duration: 7s
}

.parallax>use[data-v-34463044]:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s
}

.parallax>use[data-v-34463044]:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s
}

.parallax>use[data-v-34463044]:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s
}

@keyframes move-forever-34463044 {
    0% {
        transform: translate3d(-90px,0,0)
    }

    to {
        transform: translate3d(85px,0,0)
    }
}

/* menu */
.menu {
    margin: 20px auto;
    width: 70%;
    display: flex
;
    justify-content: space-around;
    flex-wrap: wrap;
}

.lo-card {

    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    transition: .5s;
    background-size: 200% auto;
    color: #fff;
    box-shadow: 0 0 20px #bb8383;
    border-radius: 10px;
    display: flex
;
}


.lo-card svg {
    width: 65px;
    height: 65px;
    transition: transform 0.3s ease; /* SVG 平滑缩放 */
}

.lo-card:hover svg {
    transform: scale(1.2); /* 鼠标移入时放大 SVG */
}

.svg-icon {
    width: 65px;
    height: 65px;
    vertical-align: middle;
    fill: currentColor;
    overflow: hidden;
}

.flex-row {
    display: flex
;
    flex-direction: column;
    justify-content: space-around;
}

.ml-20 {
    margin-left: 20px;
}

.hover-cl {
    cursor: pointer;
    color: #000;
    letter-spacing: 2px;
}
  





