.waves[data-v-34463044] {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 150px;
  }
  
  .parallax > use[data-v-34463044]:first-child {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  
  .parallax > use[data-v-34463044] {
    animation: move-forever-34463044 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  }
  
  @keyframes move-forever-34463044 {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-90px);
    }
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  svg[data-v-34463044] {
    shape-rendering: auto;
  }
  
  svg:not(:root) {
    overflow: hidden;
    overflow-clip-margin: content-box;
  }
  